/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  background-image: url("images/draco.png");
  background-repeat: no-repeat;
  background-position: center 180px;
  font-family: Lato, sans-serif;
}

nav {
  background-color: #f4f4f4;
}

nav ul {
  width: 660px;
  margin: 0 auto;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  color: #AAAAAA;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 10px;
  margin-right: 20px;
}

nav li:first-child a, nav a:hover {
  color: #616060;
}

h1, h2, blockquote {
  font-family: Playfair Display, serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.4em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 small {
  font-size: 0.8em;
}

h1 img {
  float: left;
  border-radius: 100%;
  margin-top: 15px;
  margin-right: 15px;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 15px;
  line-height: 25px;
  color: #848484;
  margin-top: 30px;
  font-weight: normal;
}

p {
  font-size: 17px;
  line-height: 28px;
  color: #4f4f4f;
}

strong {
  border-bottom: 1px solid #AAAAAA;
  padding: 3px 0;
}

section {
  width: 660px;
  margin: 0 auto;
}

section.with-separator {
  background-image: url("images/separator .png");
  background-repeat: no-repeat;
  background-position-y: 50px;
  padding-top: 100px;
}

#about {
  margin-top: 160px;
}

#quote {
  background-image: url("images/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
  padding: 250px 0;
  text-align: center;
}

#quote blockquote {
  display: inline-block;
  font-family: Playfair Display, serif;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  padding: 45px;
  border: 4px solid white;
}

footer {
  width: 660px;
  margin: 0 auto;
  padding: 30px 0;
}

#authors, #links {
  width: 49%;
  display: inline-block;
}

#authors {
  font-size: 16px;
  color: #6d6d6d;
}

#links {
  font-family: FontAwesome;
  text-align: right;
  color: #a5a5a5;
  font-size: 17px;
  letter-spacing: 10px;
}
