@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Titillium Web, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  color: #FFFFFF;
}

nav {
  width: 1030px;
  margin: 0 auto;
}

nav h1 {
  float: left;
  margin-top: 55px;
}

nav ul {
  float: right;
  margin-top: 55px;
  font-size: 16px;
  line-height: 18px;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 5px 20px;
}

nav li a:hover {
  border-radius: 4px;
  background-color: #643a79;
}

header {
  padding: 230px 0 170px;
}

header {
  background-color: #87509C;
}

header p {
  font-size: 42px;
  line-height: 49px;
  color: #f7f3ea;
  font-weight: 700;
  text-align: center;
}

.button {
  font-family: Titillium Web, sans-serif;
  display: inline-block;
  border-radius: 4px;
  background-color: #eb7d4b;
  font-size: 18px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 60px auto 0;
  padding: 6px 70px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

button.button {
  display: block;
  cursor: pointer;
}

.button-orange {
  color: #FFFFFF;
  background-color: #eb7d4b;
  border-bottom-color: #C86A40;
}

.button-orange:hover {
  background-color: #C86A40;
}

.button-green {
  background-color: #17C1A3;
  border-bottom-color: #14A48B;
}

.button-green:hover {
  background-color: #14A48B;
}

.button-blue {
  background-color: #30BAE7;
  border-bottom-color: #299EC5;
}

.button-blue:hover {
  background-color: #299EC5;
}

section {
  padding: 120px 0;
}

section h2 {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

section p {
  font-size: 18px;
  text-align: center;
}

.separator {
  width: 84px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 20px auto;
}

.box {
  width: 1200px;
  margin: 80px auto 0;
}

#services {
  color: #FFFFFF;
  background-color: #17C2A4;
}

.service {
  width: 24.7%;
  display: inline-block;
  vertical-align: top;
}

.service img {
  display: block;
  margin: 0 auto 50px;
}

.service h3 {
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0;
}

.service p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  padding: 0 20px;
}

#team {
  color: #3c4761;
  background-color: #E7F1F8;
}

.teammate {
  width: 24.7%;
  display: inline-block;
  vertical-align: top;
}

.portrait {
  background-color: #878787;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 40px;
}

.teammate h3 {
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.teammate h4 {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  color: #30bae7;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.teammate p {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  color: #3c4761;
  font-weight: 300;
  text-align: center;
  padding: 0 40px;
}

.teammate .links {
  margin-top: 25px;
}

.teammate .links img + img {
  margin-left: 10px;
}

#skills {
  color: #3c4761;
  background-color: #FFFFFF;
}

.skill {
  width: 24.7%;
  display: inline-block;
  vertical-align: top;
}

.skill .circle {
  width: 140px;
  height: 140px;
  margin: 0 auto 40px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 138px;
  text-align: center;
}

.skill .circle small {
  font-size: 0.6em;
}

.circle-blue {
  background-image: url('images/progress-blue.png');
}

.circle-green {
  background-image: url('images/progress-green.png');
}

.circle-orange {
  background-image: url('images/progress-orange.png');
}

.circle-magenta {
  background-image: url('images/progress-mangeta.png');
}

.skill h3 {
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0;
}

#portfolio {
  color: #3c4761;
  background-color: #FFDD99;
}

.categories {
  display: block;
  text-align: center;
  margin: 30px auto 0;
}

.categories li {
  display: inline-block;
  list-style: none;
}

.categories li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #393939;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 0 4px;
  background-color: #EBC985;
}

.categories li a.active, .categories li a:hover {
  background-color: white;
}

.project {
  display: inline-block;
  width: 49.5%;
  text-align: center;
  margin-bottom: 50px;
}

.project figcaption {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

#testimonials {
  color: #FFFFFF;
  background-color: #D74680;
}

.customer {
  display: inline-block;
  width: 49.5%;
}

.customer .portrait {
  float: left;
  width: 96px;
  height: 96px;
}

.customer blockquote {
  margin-left: 140px;
  padding-right: 80px;
  min-height: 90px;
}

.customer blockquote p {
  text-align: left;
  font-size: 21px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
}

.customer blockquote p:first-child::before {
  content: '“'
}

.customer blockquote p:last-child::after {
  content: '”'
}

.customer cite {
  display: block;
  font-style: normal;
  margin-top: 30px;
  padding-left: 140px;
}

.customer .name {
  display: block;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
}

.customer .title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #ffdd99;
  font-weight: 400;
}

.customer:nth-child(n+3) {
  margin-top: 100px;
}

#contact {
  background-color: #3C5499;
}

#contact form {
  width: 800px;
}

#contact input {
  width: calc(50% - 47px);
  border: none;
  color: white;
  background-color: #273A71;
  font-size: 18px;
  line-height: 18px;
  font-family: "Titillium Web";
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
}

#contact input + input {
  margin-left: 30px;
}

#contact textarea {
  width: calc(100% - 30px);
  height: 9em;
  border: none;
  color: white;
  background-color: #273A71;
  font-size: 18px;
  line-height: 18px;
  font-family: "Titillium Web";
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
}

footer {
  color: #FFFFFF;
  background-color: #344B8E;
  padding: 20px;
  text-align: center;
}

footer ul.box {
  margin: 20px auto;
}

footer li {
  display: inline-block;
  width: 14%
}

footer a {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  color: #30bae7;
}
